body {
  background-color: #34353a;
}

.navbar-toggler {
  color: #ffd046;
  background-color: #ffd046;
  border-color: #ffd046;

  &:hover {
    opacity: 0.5;
  }
}

.navbar-brand {
  color: #ffd046;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 0 0.5rem 0 0.5rem;

  &:hover {
    color: #ffd046;
    opacity: 0.5;
  }

  &:focus {
    background-color: transparent;
    color: #ffd046;
  }
}

.nav-link {
  color: white;

  &:hover {
    color: #ffd046;
  }

  &:focus {
    color: #ffd046;
  }
}

.search-button {
  color: #ffd046;
  border-color: #ffd046;
  outline: #ffd046;
  &:hover {
    background-color: #ffd046;
    color: black;
  }
}

/* Intro and Profile Picture */
#intro h1,
h2 {
  color: white;
}

.name {
  color: #ffd046;
  font-size: 3rem;
}

.contact-btn {
  color: #ffd046;
  background-color: #34353a;
  border: solid #ffd046 1px;
  &:hover {
    background-color: #ffd046;
    color: black;
  }
}

.profile-pic {
  opacity: 0.5;
}

/* Socials */

.socials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vert-line {
  width: 2px;

  margin: 0 0 2rem 0;
  background-color: #ffd046;

  height: 200px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
