body {
  background-color: #34353a;
  border: solid #ffd046 1px;
}

h1,
h2,
h3 {
  color: white;
}

.navbar-toggler {
  color: #ffd046;
  background-color: #ffd046;
  border-color: #ffd046;

  &:hover {
    opacity: 0.5;
  }
}

.navbar-brand {
  color: #ffd046;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 0 0.5rem 0 0.5rem;

  &:hover {
    color: #ffd046;
    opacity: 0.5;
  }

  &:focus {
    background-color: transparent;
    color: #ffd046;
  }
}

.nav-link {
  color: white;

  &:hover {
    color: #ffd046;
  }

  &:focus {
    color: #ffd046;
  }
}

.search-button {
  color: #ffd046;
  border-color: #ffd046;
  outline: #ffd046;
  &:hover {
    background-color: #ffd046;
    color: black;
  }
}

/* Intro and Profile Picture */

.name {
  color: #ffd046;
  font-size: 3rem;
}

.contact-btn {
  color: #ffd046;
  background-color: #34353a;
  border: solid #ffd046 2px;
  &:hover {
    background-color: #ffd046;
    color: black;
  }
}

/* Intro Section */

/* Profile pic */

.profile-pic {
  opacity: 0.5;
  width: 100%;
}

/* Socials */

.socials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vert-line {
  width: 2px;

  margin: 0 0 2rem 0;
  background-color: #ffd046;

  height: 200px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

/* About Section */

.section-heading {
  color: white;
}
.section-line {
  width: 100px;
  height: 2px;
  background-color: #ffd046;
}

.section-text {
  color: white;
}

/* Skills Section */

.fa-brands.fa-html5 {
  color: orange;
  font-size: 5rem;
}
.fa-brands.fa-css3 {
  color: blue;
  font-size: 5rem;
}
.fa-brands.fa-bootstrap {
  color: violet;
  font-size: 5rem;
}

/* Contact Form */

.contact-section {
  padding: 0;
}

.form-label {
  color: white;
}

/* Footer */

footer p {
  margin: 0;
}
footer li {
  display: inline;
  margin: 0 1rem;
}
